@keyframes appearance {
    0% {
        transform: translateY(-395px)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes shake {
    0%,to {
        transform: translateX(0)
    }

    10%,30%,50%,70%,90% {
        transform: translateX(-10px)
    }

    20%,40%,60%,80% {
        transform: translateX(10px)
    }
}

.reason-item p,body {
    margin: 0;
    font-weight: 400
}

body {
    padding: 0;
    font-family: "PT Sans",Arial,sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    text-transform: uppercase;
    background-color: #f2f2f2
}

a {
    text-decoration: none
}

.main-container {
    width: 1200px;
    margin: auto;
    box-shadow: 0 0 12px rgba(0,0,0,.2)
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden
}

.main-logo {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -70px
}

.main-logo,.main-logo img {
    width: 140px
}

.header {
    position: absolute;
    width: 1200px;
    background-color: #fff
}

.main-navigation {
    display: flex
}

.site-navigation {
    display: flex;
    width: 1200px;
    padding: 0;
    list-style: none
}

.menu-item {
    width: 300px;
    padding-bottom: 2px;
    line-height: 26px;
    background-color: #fff
}

.hotels,.state-map {
    text-align: right
}

.info,.photo {
    text-align: left
}

.info a {
    margin-left: 72px
}

.photo a {
    margin-left: 13px
}

.state-map a {
    margin-right: 15px
}

.hotels a {
    margin-right: 72px
}

.site-navigation a {
    color: #000;
    font-weight: 700;
    line-height: 26px
}

.site-navigation a:hover {
    color: #81b3d2
}

.site-navigation a:active {
    color: #b7b7b7
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    min-height: 780px;
    background: url(../img/background-canyon.jpg);
    background-color: #666c70
}

.welcome-logo {
    position: absolute;
    top: 132px;
    left: 50%;
    margin-left: -229px;
    width: 458px;
    height: 352px;
    background-image: url(../img/welcome.svg)
}

.mask,.sedona {
    position: absolute;
    width: 1200px
}

.mask {
    top: 507px;
    left: 50%;
    margin-left: -600px;
    height: 59px;
    background-image: url(../img/intro-mask.svg)
}

.sedona {
    display: block;
    top: 564px;
    margin: 0;
    padding: 0;
    background-color: #fff
}

.sedona-text,.sedona-title {
    display: inline-block;
    text-align: center;
    line-height: 26px
}

.sedona-title {
    vertical-align: inherit;
    position: relative;
    width: 600px;
    font-weight: 700;
    font-size: 21px;
    padding-top: 43px;
    margin-bottom: 0;
    left: 50%;
    margin-left: -300px
}

.sedona-text {
    width: 1200px;
    vertical-align: middle;
    font-weight: 400;
    opacity: .8;
    padding-top: 26px;
    padding-bottom: 37px;
    margin: 0
}

.reason-city,.reason-item {
    display: flex;
    align-items: center;
    width: 1200;
    background-color: #81b3d2
}

.reason-item {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 400px;
    padding-bottom: 38px;
    color: #fff;
    text-align: center;
    opacity: .9
}

.reason-title {
    max-width: 160px;
    margin: 0;
    padding: 47px 100px 0;
    font-size: 21;
    line-height: 21px;
    font-weight: 700
}

.reason-picture {
    width: 800px;
    height: 256px
}

.offer,.reason-item span {
    display: flex;
    align-items: center
}

.reason-item span {
    padding-top: 24px;
    line-height: 21px;
    font-weight: 400
}

.reason-item p {
    max-width: 285px;
    padding: 21px 60px;
    line-height: 21px
}

.offer {
    width: 1200px;
    background-color: #fff
}

.offer-list,.offer-list li {
    display: flex;
    width: inherit;
    margin: 0;
    padding: 0
}

.offer-list li {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 400px
}

.offer-list svg {
    padding-top: 58px
}

.offer-title {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding-top: 27px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700
}

.offer-text {
    max-width: 286px;
    margin: 0;
    padding: 24px 50px 54px;
    line-height: 21px;
    font-weight: 400;
    opacity: .8
}

.reason-bridge {
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 1200;
    background-color: #81b3d2
}

.reason-bridge p {
    max-width: 310px;
    padding: 21px 47px
}

.reason-bridge,.reasons,.reasons-item {
    display: flex;
    align-items: center
}

.reasons {
    width: 1200;
    position: relative;
    z-index: 2;
    list-style: none;
    background-color: #eee
}

.reasons-item {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 400px;
    min-height: 256px;
    text-align: center
}

.reasons-title {
    max-width: 130px;
    margin: 0;
    padding: 47px 120px 0;
    font-size: 21;
    line-height: 21px;
    font-weight: 700
}

.reasons-item p,.reasons-item span {
    margin: 0;
    line-height: 21px;
    font-weight: 400;
    opacity: .8
}

.reasons-item span {
    display: flex;
    align-items: center;
    padding-top: 24px
}

.reasons-item p {
    max-width: 266px;
    padding: 21px 68px
}

.reasons-item:last-child p {
    max-width: 254px;
    padding: 21px 71px
}

.reason-item span::after,.reason-item span::before {
    display: block;
    content: "";
    width: 9px;
    height: 2px;
    background: #fff;
    opacity: .6
}

.reasons-item span::after,.reasons-item span::before {
    display: block;
    content: "";
    width: 9px;
    height: 2px;
    background: #000;
    opacity: .4
}

.reason-item span::before,.reasons-item span::before {
    margin-right: 6px
}

.reason-item span::after,.reasons-item span::after {
    margin-left: 6px
}

.interesting-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 1200px;
    background-color: #fff;
    position: relative;
    z-index: 2
}

.interesting-title {
    margin: 0;
    padding-top: 51px;
    padding-bottom: 24px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center
}

.interesting-offer {
    margin: 0;
    padding-bottom: 46px;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    opacity: .8
}

.choose-hotel a {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 568px;
    color: #fff;
    font-weight: 700;
    font-size: 21px;
    line-height: 86px;
    background-color: #766357
}

.form,.map {
    display: flex
}

.map {
    background: url(../img/map.png) no-repeat
}

.form {
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    min-height: 395px;
    background: #fff
}

.modal-searching {
    width: 568px;
    display: block;
    position: absolute;
    margin-top: -593px;
    left: 50%;
    margin-left: -284px;
    z-index: 1
}

.modal-show {
    display: block;
    animation-name: appearance;
    animation-duration: .4s;
    animation-timing-function: linear
}

.modal-close {
    display: none;
    position: fixed
}

.modal-error {
    animation: shake .6s
}

.form input[type=text] {
    width: 346px;
    height: 38px
}

.choose-hotel a:hover {
    background-color: #604e43
}

.choose-hotel a:active {
    background-color: #503e33;
    color: #857871
}

.form label {
    line-height: 26px;
    font-weight: 700
}

.form label[for=arrival],.form label[for=departure] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 458px;
    margin: 0
}

.form label[for=arrival] {
    margin-top: 55px
}

.form label[for=departure] {
    margin-top: 29px;
    margin-bottom: 30px
}

.form input {
    font: inherit;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #f2f2f2
}

.form input[name=arrival],.form input[name=departure] {
    box-sizing: border-box;
    width: 346px;
    height: 38px;
    border: 0;
    padding-left: 12px
}

.form input[name=arrival] {
    margin-left: 21px
}

.form input[name=departure] {
    margin-left: 17px
}

.arrival-calendar,.departure-calendar {
    display: inline-block;
    position: absolute;
    top: 63px;
    right: 64px;
    vertical-align: middle
}

.departure-calendar {
    top: 130px
}

.form svg {
    fill: #a9a9a9
}

.form svg:hover,.htmlacademy svg {
    fill: #000
}

.arrow-active path,.form svg:active {
    fill: #81b3d2
}

.form input:hover {
    background-color: #ebebeb
}

.form input:focus {
    background-color: #fff;
    outline-color: #e5e5e5
}

.number-inputs {
    display: flex;
    width: 458px;
    align-items: center
}

.form label[for=children] {
    margin-left: 53px
}

.form input[type=number] {
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    border: 0;
    text-align: center;
    -moz-appearance: textfield
}

input::-webkit-inner-spin-button,input::-webkit-outer-spin-button {
    -webkit-appearance: none
}

.adults-minus,.adults-plus,.children-minus,.children-plus {
    padding: 0;
    border: 0;
    background-color: #f2f2f2;
    width: 38px;
    height: 38px
}

.adults-minus {
    margin-left: 40px
}

.children-minus {
    margin-left: 28px
}

.adults-minus::before,.adults-plus::after,.adults-plus::before,.children-minus::before,.children-plus::after,.children-plus::before {
    display: block;
    content: "";
    background: #a9a9a9;
    width: 11px;
    height: 3px;
    margin: 18px auto
}

.adults-plus::after,.children-plus::after {
    margin: 0 auto;
    transform: rotate(90deg) translateX(-21px)
}

.adults-minus:hover::before,.adults-plus:hover::after,.adults-plus:hover::before,.children-minus:hover::before,.children-plus:hover::after,.children-plus:hover::before {
    background-color: #000
}

.adults-minus:active::before,.adults-plus:active::after,.adults-plus:active::before,.children-minus:active::before,.children-plus:active::after,.children-plus:active::before,.submit-button {
    background-color: #81b3d2
}

.submit-button {
    width: 458px;
    height: 58px;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #fff;
    vertical-align: middle;
    text-transform: uppercase;
    margin-top: 54px;
    border: 0;
    cursor: pointer
}

.submit-button:hover {
    background-color: #669ec0
}

.submit-button:active {
    color: #7aadcb;
    background-color: #5496bd
}

.footer-index {
    opacity: .9;
    margin-top: -120px
}

.site-navigation .active-page a {
    color: #766357
}

.container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    background-color: #fff
}

.preferences {
    width: 1200px;
    color: #fff;
    background: url(../img/filter-background.jpg);
    background-color: #666c70
}

.preferences-form {
    display: flex;
    width: 1054px;
    margin: 57px auto 0
}

.infrastructure-title {
    display: inline;
    margin-top: 26px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700
}

.infrastructure-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 200px;
    padding: 0;
    margin: 71px 0 0 -137px;
    list-style: none
}

.housing-list li,.infrastructure-list li {
    padding-bottom: 24px;
    line-height: 21px;
    font-weight: 400
}

.housing-title {
    width: 92px;
    margin-left: 55px;
    margin-top: 26px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700
}

.housing-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 200px;
    padding: 0;
    margin: 71px 0 0 -91px;
    list-style: none
}

.housing-list label,.infrastructure-list label {
    padding-left: 40px;
    vertical-align: middle
}

.filter-input+label::before {
    content: "";
    display: inline-block;
    position: absolute;
    background: url(../img/checkbox-off.svg) no-repeat;
    width: 23px;
    height: 23px;
    vertical-align: middle;
    transform: translateX(-40px)
}

.filter-input:checked+label::before {
    content: "";
    display: inline-block;
    position: absolute;
    background: url(../img/checkbox-on.svg) no-repeat;
    width: 26px;
    height: 23px;
    vertical-align: middle
}

.filter-input:checked:disabled+label::before,.filter-input:disabled+label::before {
    opacity: .5
}

.filter-input:focus+label::before {
    outline-width: 2px;
    outline-color: Highlight;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto
}

.filter-range {
    align-self: flex-start;
    width: 318px;
    margin-top: 26px;
    margin-left: 282px;
    padding-bottom: 34px;
    color: #fff;
    text-transform: uppercase
}

.filter-range-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px
}

.price-controls {
    position: relative;
    height: 32px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #fff;
    border-radius: 2px
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #fff;
    transform: translate(-50%,-50%)
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    transform: translate(-7px,-2px);
    cursor: pointer
}

.price-controls .max-price,.price-controls .min-price {
    width: 90px;
    padding-left: 65px
}

.price-controls .min-price {
    transform: translate(0,-2px)
}

.price-controls input {
    width: 50px;
    margin: 0;
    height: 35px;
    line-height: 1;
    color: inherit;
    font: inherit;
    background: 0 0;
    border: 0
}

.range-controls {
    position: relative;
    margin-bottom: 32px
}

.range-controls .scale {
    height: 2px;
    background: rgba(255,255,255,.3)
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #fff
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0,1,1,.2);
    cursor: pointer
}

.range-toggle:hover {
    transform: scale(1.2)
}

.range-toggle-min {
    left: 0
}

.range-toggle-max {
    left: 80%
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 33px;
    transform: translate(-4px,2px);
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    background: 0 0;
    border: 2px solid #fff;
    border-radius: 2px;
    cursor: pointer
}

.btn-transparent:hover {
    color: #000;
    background: #fff
}

.results {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    background-color: #fff
}

.results-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    margin: 0 0 0 73px
}

.results-text {
    align-self: center;
    margin: 0 0 0 49px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px
}

.arrows,.sorted-by {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    width: 238px;
    margin: 0 0 0 40px;
    padding: 34px 0
}

.sorted-by li {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px
}

.sorted-by a,.sorted-by a:hover {
    color: #d1d1d1;
    border-bottom: 1px dotted #81b3d2
}

.sorted-by a:hover {
    color: #81b3d2
}

.sorted-by a:active {
    color: #000;
    border-bottom: none
}

.hotel-title a:hover,.sorted-by .active-sorting {
    color: #81b3d2
}

.arrows {
    width: 35px;
    padding: 0;
    margin: 0 0 0 504px
}

.up:focus path,.up:hover path {
    fill: #231f20
}

.up:active path {
    fill: #81b3d2
}

.results article {
    display: flex;
    flex-wrap: wrap;
    min-width: 1200px;
    border-top: 1px solid #e5e5e5
}

.results article:last-child {
    border-bottom: 1px solid #e5e5e5
}

.hotel-image {
    display: flex;
    width: 237px
}

.hotel-image img {
    padding: 30px 0 30px 73px
}

.hotel-title,.hotel-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 670px
}

.hotel-title {
    align-items: flex-end;
    margin: 0;
    width: 660px;
    min-height: 50px
}

.hashtag a,.hotel-title a {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000
}

.hotel-title a:active {
    color: #b2b2b2
}

.details-wrapper {
    display: flex;
    flex-direction: column;
    width: 110px;
    min-height: 100px
}

.to-book-wrapper {
    display: flex;
    flex-direction: column;
    width: 142px;
    margin-left: 7px
}

.price,.type {
    line-height: 21px;
    font-weight: 400;
    padding-top: 8px;
    padding-bottom: 14px
}

.details,.to-book {
    display: inline-block;
    width: 110px;
    height: 27px;
    line-height: 27px;
    vertical-align: middle;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #81b3d2;
    margin: 0
}

.details:hover {
    background-color: #669ec0
}

.details:active {
    color: #84b4d0;
    background-color: #5496bd
}

.to-book {
    width: 142px;
    background-color: #766357
}

.to-book:hover {
    background-color: #604e43
}

.to-book:active {
    color: #857871;
    background-color: #503e33
}

.rating-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 222px
}

.stars {
    background-image: url(../img/star.svg);
    background-repeat: space;
    height: 17px;
    margin-top: 30px
}

.four-stars {
    width: 88px
}

.three-stars {
    width: 65px
}

.two-stars {
    width: 41px
}

.rating {
    display: inline-block;
    width: 110px;
    height: 27px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 30px;
    color: #666;
    line-height: 27px;
    font-weight: 400;
    background-color: #f2f2f2;
    order: 2
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    background-color: #fff
}

.hashtag {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px
}

.hashtag a {
    padding: 0 5px
}

.social {
    width: 400px;
    margin: 0;
    padding-top: 36px;
    padding-bottom: 36px
}

.social ul,.social-button {
    display: flex;
    list-style: none
}

.social ul {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;
    padding: 0
}

.social-button {
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2
}

.social-button:focus,.social-button:hover {
    background-color: #669ec0
}

.social-button:active path {
    background-color: #5496bd;
    fill: #88b6d1
}

.htmlacademy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 50px;
    padding-top: 3px
}

.htmlacademy p {
    padding-bottom: 5px;
    padding-left: 2px;
    font-weight: 500;
    line-height: 26px
}

.htmlacademy a {
    margin-left: 8px;
    padding-top: 2px
}

.htmlacademy svg:focus,.htmlacademy svg:hover {
    fill: #81b3d2
}

.htmlacademy svg:active {
    fill: #bdbbbc
}
