body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;

}
.main-container {
  width: 1200px;
  margin: auto;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.main-logo {
  display: block;
  position: absolute;
  width: 140px;
  left: 50%;
  margin-left: -70px;
}

.main-logo img {
  width: 140px;
}

.header {
  position: absolute;
  width: 1200px;

  background-color: #ffffff;
}

.main-navigation {
  display: flex;
}

.site-navigation {
  display: flex;
  width: 1200px;
  padding: 0;

  list-style: none;
}

.menu-item {
  width: 300px;
  padding-bottom: 2px;

  line-height: 26px;

  background-color: #ffffff;
}

.hotels,
.state-map {
  text-align: right;
}

.info,
.photo {
  text-align: left;
}

.info a {
  margin-left: 72px;
}

.photo a {
  margin-left: 13px;
}

.state-map a {
  margin-right: 15px;
}

.hotels a {
  margin-right: 72px;
}

.site-navigation a {
  color: #000000;
  font-weight: bold;
  line-height: 26px;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b7b7b7
}

/* index */

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-height: 780px;

  background: url(../img/background-canyon.jpg);
}

.welcome-logo {
  position: absolute;
  top: 132px;
  left: 50%;
  margin-left: -229px;

  width: 458px;
  height: 352px;

  background-image: url(../img/welcome.svg);
}

.mask {
  position: absolute;
  top: 507px;
  left: 50%;
  margin-left: -600px;

  width: 1200px;
  height: 59px;

  background-image: url(../img/intro-mask.svg);
}

.sedona {
  display: block;
  position: absolute;
  width: 1200px;

  top: 564px;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

.sedona-title {
  display: inline-block;
  position: relative;
  width: 600px;

  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  padding-top: 43px;
  margin-bottom: 0;
  left: 50%;
  margin-left: -300px;
}

.sedona-text {
  display: inline-block;
  width: 1200px;

  text-align: center;
  font-weight: normal;
  line-height: 26px;
  opacity: 0.8;

  padding-top: 26px;
  padding-bottom: 37px;
  margin: 0;
}

.reason-city {
  display: flex;
  align-items: center;

  width: 1200;

  background-color: #81b3d2;
}

.reason-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;

  padding-bottom: 38px;

  color: #ffffff;
  text-align: center;
  opacity: 0.9;

  background-color: #81b3d2;
}

.reason-title {
  max-width: 160px;
  margin: 0;
  padding: 0 100px;
  padding-top: 47px;

  font-size: 21;
  line-height: 21px;
  font-weight: bold;
}

.reason-picture {
  width: 800px;
  height: 256px;
}

.reason-item span {
  display: flex;
  align-items: center;

  padding-top: 24px;

  line-height: 21px;
  font-weight: normal;
}

.reason-item p {
  max-width: 285px;

  margin: 0;
  padding: 21px 60px;

  line-height: 21px;
  font-weight: normal;
}

.offer {
  display: flex;
  align-items: center;
  width: 1200px;

  background-color: #ffffff;
}

.offer-list {
  display: flex;
  width: inherit;
  margin: 0;
  padding: 0;
}

.offer-list li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 400px;

  margin: 0;
  padding: 0;
}

.offer-list svg {
  padding-top: 58px;
}


.offer-title {
  display: inline-block;

  margin: 0;
  padding-top: 27px;

  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  }

.offer-text {
  max-width: 286px;
  margin: 0;
  padding: 0 50px;
  padding-bottom: 54px;
  padding-top: 24px;

  line-height: 21px;
  font-weight: normal;
  opacity: 0.8;
}

.reason-bridge {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 1200;

  background-color: #81b3d2;
}

.reason-bridge p {
  max-width: 310px;
  padding: 21px 47px;
}

.reasons {
  display: flex;
  align-items: center;
  width: 1200;

  list-style: none;

  background-color: #eeeeee;
}

.reasons-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;

  min-height: 256px;
  text-align: center;
}

.reasons-title {
  max-width: 130px;

  margin: 0;
  padding: 0 120px;
  padding-top: 47px;

  font-size: 21;
  line-height: 21px;
  font-weight: bold;
}

.reasons-item span {
  display: flex;
  align-items: center;

  margin: 0;
  padding-top: 24px;

  line-height: 21px;
  font-weight: normal;
  opacity: 0.8;
}

.reasons-item p {
  max-width: 266px;
  margin: 0;
  padding: 21px 68px;

  line-height: 21px;
  font-weight: normal;
  opacity: 0.8;
}

.reasons-item:last-child p {
  max-width: 254px;
  padding: 21px 71px;
}

.reason-item span::before,
.reason-item span::after {
  display: block;
  content: "";
  width: 9px;
  height: 2px;

  background: #ffffff;
  opacity: 0.6;
}

.reasons-item span::before,
.reasons-item span::after {
  display: block;
  content: "";
  width: 9px;
  height: 2px;

  background: #000000;
  opacity: 0.4;
}

.reasons-item span::before,
.reason-item span::before {
  margin-right: 6px;
}

.reasons-item span::after,
.reason-item span::after {
  margin-left: 6px;
}

.interesting-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 1200px;

  background-color: #ffffff;
}

.interesting-title {
  margin: 0;
  padding-top: 51px;
  padding-bottom: 24px;

  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.interesting-offer {
  margin: 0;
  padding-bottom: 46px;

  line-height: 24px;
  text-align: center;
  font-weight: normal;
  opacity: 0.8;
}

.choose-hotel a{
  display: inline-block;
  text-align: center;
  width: 568px;

  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
  line-height: 86px;

  background-color: #766357;
}

.map {
  display: flex;
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 568px;
  min-height: 395px;
  position: absolute;
  margin-top: -593px;
  left: 50%;
  margin-left: -284px;

  background: #ffffff;
}

.form input[type="text"] {
  width: 346px;
  height: 38px;
}

.form input[type="number"] {
  width: 38px;
  height: 38px;
}

.choose-hotel a:hover {
  background-color: #604e43;
}

.choose-hotel a:active {
  background-color: #503e33;
  color: #857871;
}

.form label {
  line-height: 26px;
  font-weight: bold;
}

.form label[for="arrival"],
.form label[for="departure"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 458px;
  margin: 0;
}

.form label[for="arrival"] {
  margin-top: 55px;
}

.form label[for="departure"] {
  margin-top: 29px;
  margin-bottom: 30px;
}

.form input {
  font: inherit;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #f2f2f2;
}

.form input[name="arrival"],
.form input[name="departure"] {
  box-sizing: border-box;
  width: 346px;
  height: 38px;
  border: none;
  padding-left: 12px;
}

.form input[name="arrival"] {
  margin-left: 21px;
}

.form input[name="departure"] {
  margin-left: 17px;
}

.arrival-calendar {
  display: inline-block;
  position: absolute;
  top: 63px;
  right: 64px;
}

.departure-calendar {
  display: inline-block;
  position: absolute;
  top: 130px;
  right: 64px;
}

.form svg {
  fill: #a9a9a9;
}

.form svg:hover {
  fill: #000000;
}

.form svg:active {
  fill: #81b3d2;
}

.form input:hover {
  background-color: #ebebeb;
}

.form input:focus {
  background-color: #ffffff;
  outline-color: #e5e5e5;
}

.number-inputs {
  display: flex;
  width: 458px;
}

.form label[for="adults"] {
  display: flex;
  width: 229px;
  align-items: center;
  margin-bottom: 54px;
}

.form label[for="children"] {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 229px;
  margin-bottom: 54px;
}

.form input[name="adults"],
.form input[name="children"] {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  border: none;
  text-align: center;
}

.adults-minus,
.adults-plus,
.children-plus,
.children-minus {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
}

.adults-minus {
  margin-left: 40px;
}

.children-minus {
  margin-left: 27px;
}
.submit-button {
  width: 458px;
  height: 58px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #669ec0;
}

.submit-button:active {
  color: #7aadcb;
  background-color: #5496bd;
}

.footer-index {
  opacity: 0.9;
  margin-top: -120px;
}

/* Inner */

.site-navigation .active-page a {
  color: #766357;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;

  background-color: #ffffff;
}

.preferences {
  width: 1200px;

  color: #ffffff;

  background: url(../img/filter-background.jpg);
  background-color: #5f717d;
}

.preferences-form {
  display: flex;
  flex-wrap: wrap;
  width: 1054px;
  margin: 0 auto;
  margin-top: 57px;
}

.infrastructure-title {
  display: inline;
  margin-top: 26px;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.infrastructure-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 200px;
  margin: 0;
  padding: 0;
  margin-top: 71px;
  margin-left: -137px;

  list-style: none;
}

.infrastructure-list li {
  padding-bottom: 23px;

  line-height: 21px;
  font-weight: normal;
}

.housing-title {
  margin-left: 55px;
  margin-top: 26px;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.housing-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 200px;
  margin: 0;
  padding: 0px;
  margin-top: 71px;
  margin-left: -91px;

  list-style: none;
}

.housing-list li {
  padding-bottom: 23px;

  line-height: 21px;
  font-weight: normal;
}

.infrastructure-list label{
  display: flex;
  align-items: center;
}

.housing-list label{
  display: flex;
  align-items: center;
}

.icon-on {
  width: 27px;
  height: 23px;
  padding-right: 13px;

  background: url(../img/checkbox-on.svg) no-repeat;
}

.icon-off {
  width: 27px;
  height: 23px;
  padding-right: 13px;

  background: url(../img/checkbox-off.svg) no-repeat;
}

.filter-range {
  align-self: flex-start;
  width: 318px;
  margin-top: 26px;
  margin-left: 278px;
  padding-bottom: 30px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  transform: scale(1.2);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

  .results {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;

  background-color: #ffffff;
}

.results-title {
  margin: 0;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-left: 73px;
}

.results-text {
  align-self: center;

  margin: 0;
  margin-left: 49px;


  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.sorted-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  width: 238px;
  margin: 0;
  margin-left: 40px;
  padding: 0;
  padding-top: 34px;
  padding-bottom: 35px;

}

.sorted-by li {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.sorted-by a {
  color: #d1d1d1;
  border-bottom: 1px dotted #81b3d2;
}

.sorted-by a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorted-by a:active {
  color: #000000;
  border-bottom: none;
}

.sorted-by .active-sorting {
  color: #81b3d2;
}

.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  width:35px;

  list-style: none;

  margin: 0;
  padding: 0;
  margin-left: 504px;
}

.arrow-active path {
  fill: #81b3d2;
}

.up:hover path,
.up:focus path,
.down:hover path,
.down:focus path {
  fill: #231f20;
}

.up:active path,
.down:active path {
  fill: #81b3d2;
}

.results article {
  display: flex;
  flex-wrap: wrap;
  min-width: 1200px;
  border-top: 1px solid #e5e5e5;
}

.results article:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-image {
  display: flex;
  width: 237px;
}

.hotel-image img {
  padding: 30px 0;
  padding-left: 73px;
}

.hotel-wrapper {
  width: 670px;
  display: flex;
  flex-wrap: wrap;
}

.hotel-title {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0;
  width: 660px;
  min-height: 50px;
}

.hotel-title a {
  color: #000000;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

}

.hotel-title a:hover {
  color: #81b3d2;
}

.hotel-title a:active {
  color: #b2b2b2;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  width: 110px;
  min-height: 100px;
}

.to-book-wrapper {
  display: flex;
  flex-direction: column;
  width: 142px;
  margin-left: 7px;
}

.type,
.price {
  line-height: 21px;
  font-weight: normal;
  padding-top: 8px;
  padding-bottom: 16px;
}

.details {
  display: inline-block;
  color: #ffffff;
  line-height: 27px;
  font-weight: bold;
  text-align: center;
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
  margin: 0;
}

.details:hover {
  background-color: #669ec0;
}

.details:active {
  color: #84b4d0;
  background-color: #5496bd;
}

.to-book {
  display: inline-block;
  text-align: center;
  color: #ffffff;
  line-height: 27px;
  font-weight: bold;
  line-height: 27px;
  background-color: #766357;
  width: 142px;
  height: 27px;
  margin: 0;
}

.to-book:hover {
  background-color: #604e43;
}

.to-book:active {
  color: #857871;
  background-color: #503e33;
}

.rating-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 222px;
}

.stars {
  background-image: url(../img/star.svg);
  background-repeat: space;
  height: 17px;
  margin-top: 30px;
}

.four-stars {
  width: 88px;
}

.three-stars {
  width: 65px;
}

.two-stars {
  width: 41px;
}

.rating {
  display: inline-block;
  color: #666666;
  line-height: 27px;
  font-weight: normal;
  width: 110px;
  height: 27px;
  text-align: center;
  background-color: #f2f2f2;
  order: 2;
  margin-bottom: 30px;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;

  background-color: #ffffff;
}

.hashtag {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
}

.hashtag a {
  padding: 0 5px;

  color: #000000;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.social {
  width: 400px;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 36px;
}

.social ul {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  list-style: none;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active path{
  background-color: #5496bd;
  fill: #88b6d1;
}

.htmlacademy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 50px;
  padding-top: 3px;
}

.htmlacademy p {
  padding-bottom: 5px;
  padding-left: 2px;

  font-weight: 500;
  line-height: 26px;
}

.htmlacademy a {
  margin-left: 8px;
  padding-top: 2px;
}

.htmlacademy a:hover path,
.htmlacademy a:focus path {
  fill: #81b3d2;
}

.htmlacademy a:active path {
  fill: #bdbbbc;
}
